body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MAIN */
.mine {
  display: flex;
  flex-direction: row;
  height: 400px;
}

.mine__image {
  flex: 3;
}

.mine__image img {
  width: 100%;
  height: 100%;
}

.mine__options {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.mine__options__myinfo {
  flex: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(50, 49, 49);
}

.mine__options__myinfo__name {
  flex: 5;
  font-size: 3.2rem;
  text-align: center;
  color: white;
}

.mine__options__myinfo__social {
  flex: 5;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.mine__options__myinfo__social a {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}
.mine__options__designation {
  font-size: 1.4rem;
  flex: 2;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.mine__options__nav {
  flex: 4;
  display: flex;
  flex-direction: row;
}

.mine__options__nav a {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.mine__options__nav a:nth-child(1) {
  background-color: rgb(69, 115, 242);
}
.mine__options__nav a:nth-child(2) {
  background-color: green;
}
.mine__options__nav a:nth-child(3) {
  background-color: rgba(208, 195, 11, 0.959);
}
.mine__options__nav a:nth-child(4) {
  background-color: rgb(232, 76, 19);
}

@media screen and (max-width: 800px) {
  .mine {
    flex-direction: column;
    height: 1000px;
  }
}

@media screen and (max-width: 450px) {
  .mine__options__myinfo {
    flex-direction: column;
    height: 1200px;
  }

  .mine__options__myinfo__name {
    display: flex;
    align-items: center;
  }

  .mine__options__myinfo__social {
    /* justify-content: flex-start; */
    width: 100%;
  }
}

/* HOME PAGE */
.home {
}

.home__heading {
  background-color: rgb(69, 115, 242);
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.home__heading--main {
  padding-bottom: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}

.home__heading--subheading {
}

.home__skills {
  padding-left: 20px;
  padding-bottom: 20px;
}

.home__skills__heading {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__skills__heading--main {
  padding-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 500;
}

.home__skills__heading--subheading {
}

.home__skills--line {
}

.home__skills__all {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__skills__all__each {
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  margin-bottom: 1rem;
}

.home__skills__all__each__bar--heading {
  font-weight: 500;
  background-color: rgb(108, 225, 225);
  flex: 2;
  color: rgb(4, 87, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.home__skills__all__each__bar--progress {
  flex: 7;
}
.home__skills__all__each__bar__progress--value {
  background-color: rgb(25, 117, 117);
  height: 100%;
}

.home__skills__all__each--progress {
  flex: 1;
  color: rgba(0, 0, 0, 0.294);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Projects */
.projects {
}

.projects__heading {
  background-color: rgba(208, 195, 11, 0.959);
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.projects__heading--main {
  padding-bottom: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}

.projects__heading--subheading {
}

.projects__list {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.projects__list__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: coral;
  height: 4rem;
  width: 100%;
}

.projects__list__header--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.projects__list__header--item:hover {
  color: white;
  background-color: rgb(161, 83, 54);
  cursor: pointer;
  font-size: 1.2rem;
}
